# node_modules y cachés
node_modules/
.pnpm/
.pnpm-debug.log

# Salida de build
dist/

# Archivos de entorno
.env
.env.*.local
.vite-env.d.ts

# Archivos del sistema/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-workspace.yaml

# Archivos de lock específicos
*.lock
pnpm-lock.yaml

# Salida de pruebas (si usas algo como Vitest o Jest)
coverage/

# Archivos temporales
*.tsbuildinfo

# Cache de ESLint
.eslintcache
